.title {
  text-align: center;
  margin-bottom: 50px;
}

.formWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn {
  margin-top: 20px;
}

.formValueWrapper {
  text-align: center;
}
